@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


:root {
    --color_1: rgb(142, 202, 230);
    --color_2: rgb(33, 158, 188);
    --color_3: rgb(2, 48, 71);
    --color_4: rgb(255, 183, 3);
    --color_5: rgb(251, 133, 0);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.primary-container {
    height: 80vh;
    background-color: var(--color_1);
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    display: grid;
    grid-template-columns: 48vw 48vw;
}


.primary-container span {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.primary-container img {
    width: 70%;
}

.logo_docker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_tittle {
    display: flex;
    align-items: center;
}

.btn_back {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.container_temario {
    font-family: 'Roboto', sans-serif;
    background: var(--color_3);
    text-decoration: none;
    color: white;
    padding: 2rem;
}

.container_temario li {
    text-decoration: none;
}

.container_temario a {
    text-decoration: none;
    color: white;
}

.menu {
    width: 100%;
    height: 70px;
    background-color: var(--color_3);
}

.img_logo {
    background-color: red;
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu_options {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_menu {
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}